.vs/
.vscode/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.claude/
.ralph/
/Mercy1/
/google-jules-desktop-app/
/n8n/
*.sln
UpgradeLog.htm
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.DotSettings.user
